@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-[#09090a] text-zinc-100;
}

.player {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ghost{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}