@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-[#09090a] text-zinc-100;
    background-color: rgb(139 92 246);
}

.player {
    width: 60vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: inherit;
}

.letra {

}
