@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-[#09090a] text-zinc-100;
}

.player {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ghost{
    position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -1000;
	background-color: aquamarine; 
}